@import "tw-animate-css";

/* ! Shadcn UI Default Styles - Uncomment to use */
@import "./theme.css";

/* ! Shadcn UI Default Styles - Uncomment to use */
/* @import "./shadcn-ui-default.css"; */

html {
  scroll-behavior: smooth;
}

body {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

/* ! Custom text highlight styles */
::selection {
	color: rgba(255, 255, 255, 0.8);
	background-color: rgba(255, 20, 188, 0.75);
}
